<mat-card>
    <mat-card-header>
        Login
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="login()" (keydown.enter)="$event.preventDefault()">
            <div>
                <mat-input-container>
                    <input matInput formControlName="username" placeholder="Username">
                </mat-input-container>
            </div>
            <div>
            <mat-input-container>
                <input type="password" matInput formControlName="password" placeholder="Password">
            </mat-input-container>
            </div>
            <div>
                <button [disabled]="!loginForm.valid" mat-raised-button>Login</button>
            </div>
        </form>
    </mat-card-content>
 
    
</mat-card>
