<md-card>
    <md-card-header>
        Login
    </md-card-header>
    <form [formGroup]="loginForm" (ngSubmit)="login()" (keydown.enter)="$event.preventDefault()">
        <div>
            <md-input-container>
                <input md-input formControlName="username" placeholder="Username">
            </md-input-container>
        </div>
        <div>
        <md-input-container>
            <input type="password" md-input formControlName="password" placeholder="Password">
        </md-input-container>
        </div>
        <div>
            <button [disabled]="!loginForm.valid" md-button>Login</button>
        </div>
    </form>
</md-card>
